.App {
  text-align: center;
}


.App-header {
 background: linear-gradient(45deg, #F17C58, #E94584, #24AADB, #27DBB1, #FFDC18, #FF3706);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: rgb(26, 23, 26);
}
.Avatar{

width:300px;
 height:450px;
}

.App-link {
  color: #61dafb;
}


