.App {
  text-align: center;

 background-color:rgb(16, 240, 240);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: rgb(26, 23, 26);
}



